.size{
    height:100%;
    background: url("yang.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width:5px;
    border-color: rgba(255,211,0,1);
}
.firstimage{
    padding-bottom: 10px;
}
#myImg{
    display: block;
    margin:auto;
    height:auto;
    width: 50%;
}
#myImg:hover{
    opacity: 0.9;
}
.collapse.navbar-collapse.navbar-ex1-collapse{
    background: rgba(255,211,0,1);
}
.navbar.navbar-default{
    background: rgba(255,211,0,1);
}
@font-face{
    font-family: "8BitWonder";
    src: url(fontsandsuch.ttf) format("truetype")
}
h1{
    padding-top:5px;
    padding-left:5px;
    font-family: "8BitWonder";
    color: #ab0010;
    text-shadow: -2px 0 #9b111e,0 2px #9b111e,2px 0 #9b111e, 0 -2px #9b111e;
    background: #DFC8CE;
    margin: 0;
    padding-bottom: 10px;
}
#shoulder{
    width: 25%;
    height: auto;
    padding-left: 20px;
    float: left;
    padding-right: 30px;
    background: #f2f0EC;
    padding-bottom: 510px;
}
.photoofme{
    display: inline-block;
    background: #f2f0EC;
}
h2{
    color: #312f32;
    font-family: "8BitWonder";
    font-size: 24px;
    padding-left: 30px;
    background: #f2f0EC;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
@media (max-width: 700px){
    .size{
        display:none;
    }
    #shoulder{
        display:none;
    }
    h2{
        font-size: 18px;
    }
}
hr{
    margin:0;
}
#texting{
    padding-bottom: 620px;
}
#information{
    padding-bottom: 645px;
}
